<mat-toolbar color="primary">
    <button mat-button routerLink="home">Accueil</button>

    <span class="example-spacer"></span>

    <div *ngIf="!user">
        <button mat-button routerLink="auth/signin">Se connecter</button>
        <button mat-button routerLink="auth/signup">Créer un compte</button>
    </div>

    <div routerLinkActive="active" *ngIf="user">
        <span *ngIf="user"> {{ user.name }}</span>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onProfil()">
                <mat-icon class="profil">account_circle</mat-icon>
                <span>Profil</span>
            </button>
            <button mat-menu-item (click)="onFavorites()">
                <mat-icon class="heart">favorite</mat-icon>
                <span>Favoris</span>
            </button>
            <button mat-menu-item type="button" (click)="onSignOut()">
                <mat-icon>logout</mat-icon>
                <span>Se déconnecter</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>