<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="home">Accueil</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item mr-sm-2" routerLinkActive="active" *ngIf="!user">
                <a routerLink="auth/signup">Créer un compte</a>
            </li>
            <li class="nav-item my-2 my-sm-0" routerLinkActive="active" *ngIf="!user">
                <a routerLink="auth/signin">Connexion</a>
            </li>
            <li class="nav-item" *ngIf="user">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span> {{ user.name }}</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" (click)="onSignOut()">Déconnexion</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item disabled" type="button">Disabled</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav> -->

<mat-toolbar>
    <span routerLinkActive="active"><a routerLink="home">Accueil</a></span>
    <span class="example-spacer"></span>
    <div *ngIf="!user">
        <button mat-button color="primary"><a routerLink="auth/signin">Se connecter</a></button>
        <button mat-button color="primary"><a routerLink="auth/signup">Créer un compte</a></button>
    </div>
    

    <div routerLinkActive="active" *ngIf="user">
        <span *ngIf="user"> {{ user.name }}</span>
    
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
                <mat-icon>article</mat-icon>
                <span>Mes recettes</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>favorite</mat-icon>
                <span>Favoris</span>
            </button>
            <button mat-menu-item type="button" (click)="onSignOut()">
                <mat-icon>logout</mat-icon>
                <span>Se déconnecter</span>
            </button>
            </mat-menu>
    </div>
    
    
      
  </mat-toolbar>


