<div *ngIf="recipe">

    <h4> 
        {{ recipe.title }}

        <mat-icon *ngFor="let fullStar of fullStars">star</mat-icon>
        <mat-icon *ngFor="let emptyStar of emptyStars">star_border</mat-icon>
        <span class="moyenne">{{moyenne}} / 5</span>
        
    </h4>

    

    <p> {{ recipe.description }} </p>

    
    <h4>Noter cette recette</h4>
    <app-rate [idGroup]="group.idGroup"
                  [idRecipe]="recipe.idRecipe">
    </app-rate>

    <!-- composant pour écrire un commentaire -->
    <app-create-comment [idRecipe]="recipe.idRecipe"
                        [idGroup]="group.idGroup">
    </app-create-comment>


    <!-- composant pour afficher les commentaires -->
    <div *ngIf="recipe.comments">
        <br>
        <h4>Commentaires</h4>
        <app-comment *ngFor="let comment of recipe.comments"
                    [comment]="comment"
        ></app-comment>
    </div>

</div>



