<div *ngIf="recipe">

    <h4> 
        {{ recipe.title }} 
        <app-rate [idGroup]="group.idGroup"
                  [idRecipe]="recipe.idRecipe"></app-rate>
    </h4>

    

    <p> {{ recipe.description }} </p>

    

    <!-- composant pour écrire un commentaire -->
    <app-create-comment [idRecipe]="recipe.idRecipe"
                        [idGroup]="group.idGroup">
    </app-create-comment>


    <!-- composant pour afficher les commentaires -->
    <div *ngIf="recipe.comments">
        <br>
        <h4>Commentaires</h4>
        <app-comment *ngFor="let comment of recipe.comments"
                    [comment]="comment"
        ></app-comment>
    </div>

</div>



