<mat-icon (mouseover)="onMouseOver(1)"
          (mouseout)="onMouseOut()"
          (click)="onMouseClick(1)"
          >{{ star1 }}
</mat-icon>
<mat-icon (mouseover)="onMouseOver(2)"
          (mouseout)="onMouseOut()"
          (click)="onMouseClick(2)"
          >{{ star2 }}
</mat-icon>
<mat-icon (mouseover)="onMouseOver(3)"
          (mouseout)="onMouseOut()"
          (click)="onMouseClick(3)"
          >{{ star3 }}
</mat-icon>
<mat-icon (mouseover)="onMouseOver(4)"
          (mouseout)="onMouseOut()"
          (click)="onMouseClick(4)"
          >{{ star4 }}
</mat-icon>
<mat-icon (mouseover)="onMouseOver(5)"
          (mouseout)="onMouseOut()"
          (click)="onMouseClick(5)"
          >{{ star5 }}
</mat-icon>