<p>Le nom du groupe :</p>
<p> {{ group.name }}</p>

<p *ngIf="nonExistentGroup">Ce groupe n'existe pas</p>


<p *ngIf="user != null && group.adminId == user.id">
    <button mat-flat-button
            color="warn"
            (click)="accessAdminPage()"
    >Page Admin</button>
</p>

<app-list-recipe [recipes]="group.recipes"></app-list-recipe>

<p>Ajouter une recette</p>
<button
    (click)="onClickAddRecipe()"
    mat-fab color="primary"
    aria-label="add-recipe-button">
    <mat-icon>add</mat-icon>
</button>

