<h4>
    {{ group.name }}

    <span *ngIf="user != null && group.adminId == user.id">
        <button mat-flat-button
                color="warn"
                (click)="accessAdminPage()"
        >Page Admin</button>
    </span>
</h4>

<br><br>

<app-list-recipe [recipes]="recipes" [idGroup]="group.idGroup"></app-list-recipe>

<h4>
    Ajouter une recette
    <button
        (click)="onClickAddRecipe()"
        mat-fab color="primary"
        aria-label="add-recipe-button">
        <mat-icon>add</mat-icon>
    </button>
</h4>

<p *ngIf="nonExistentGroup">Ce groupe n'existe pas</p>
