<h4>Liste des recettes:</h4>
<ul ng-template *ngIf="recipes?.length; else noRecipes">

  <li *ngFor="let recipe of recipes">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><mat-icon>timer</mat-icon>{{ recipe.totalTime }}</div>
          <mat-card-title><a routerLink="/group/{{idGroup}}/recipe/{{recipe.idRecipe}}"> {{ recipe.title }} </a></mat-card-title>
          <mat-card-subtitle>{{ recipe.type }}</mat-card-subtitle>
        </mat-card-header>

        <img *ngIf="recipe.photos.length > 0; else noImgBlock" mat-card-image [src]="recipe.photos[0]">
        <ng-template #noImgBlock>
          <img mat-card-image src="https://source.unsplash.com/collection/12187581/1600x900">
        </ng-template>
        
        <mat-card-actions>
          {{ recipe.description }}
          <app-favorite [idRecipe]="recipe.idRecipe"></app-favorite>
          <!--<button mat-button>SHARE</button>-->
        </mat-card-actions>
    </mat-card>

  </li>

</ul>

<ng-template #noRecipes><p>Il n'y a pas encore de recettes.</p></ng-template>