<h4>Groupe : {{ group.name }}</h4>
<h5>Propriétaire / Admin : {{ user.name }}</h5>

<br>
<p *ngIf="recipes">Nombre de recette : {{ recipes.length }}</p>
<p>Nombre de commentaires : {{ nbComments }}</p>
<p>Utilisateur commentant le plus : {{ mostCommentUser.name }}</p>

<br><br>
<p><i><b>Work In Progress</b> : ici figurera par la suite l'utilisateur commentant le plus, notant le mieux, etc ...</i></p>


<br><br>
<br><br>


<h5 *ngIf="requests.length">Demandes d'inscription au groupe : </h5>
<ul *ngIf="requests.length">
    <li *ngFor="let user of requests">
        {{user.name}}
        <button mat-flat-button color="accent" (click)="onAccept(user.id)">Accepter</button>
        <button mat-flat-button color="warn" (click)="onRefuse(user.id)">Refuser</button>
    </li>
</ul>